<html>
<head>
	<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$("document").ready(function(){
			$(".save").click(function(){
				savepattern($(this));
			});
			$(".remove").click(function(){
				removepattern($(this));
			});
			$(".publishbutton").click(function(){
				publishbutton($(this));
			});
		});

		function publishbutton(button){
			$.getJSON("/publishpattern/", {'patternid': button.attr('patternid')},

				function(data){
					button.attr("disabled", "");
					button.html("Already published");
				}
			);
		};

		function savepattern(button){
			username = button.attr("username");
			patternname = button.attr("patternname");
		
			$.getJSON("/savepattern/", {'person':username, 'pattern':patternname},
			
			function(data){
				button.attr("class", "remove");
				button.html("Remove");
				button.unbind('click');
				button.click(function(){
					removepattern($(this));
				});


				currlikes = parseInt($(".patternlikes").attr("likes"));
				console.log("added one for " + (currlikes+1));
				$(".patternlikes").attr("likes", currlikes + 1);
				//$(".patternlikes").html("{{pattern.likes}} saver{{pattern.likes|pluralize}}");
				$(".patternlikes").html((currlikes + 1) + " savers");

			});
		};

		function removepattern(button){
			username = button.attr("username");
			patternname = button.attr("patternname");
		
			$.getJSON("/removepattern/", {'person':username, 'pattern':patternname},
			
			function(data){
				button.attr("class", "save");
				button.html("Save");
				button.unbind('click');
				button.click(function(){
					savepattern($(this));
				});

				currlikes = parseInt($(".patternlikes").attr("likes"));
				console.log("subtracted one for " + (currlikes-1));
				$(".patternlikes").attr("likes", currlikes-1);
				//$(".patternlikes").html("{{pattern.likes}} saver{{pattern.likes|pluralize}}");
				$(".patternlikes").html((currlikes-1) + " savers");
			});	
		};
	</script>
</head>

<body>
	{% if request.user.is_authenticated %}
			<form action="/accounts/logout/" method="get">
		            <input type="submit" value="Logout"\>
		    </form>
		    <a href="/{{request.user.username}}/">My Gallery</a>
		    <a href="/{{request.user.username}}/untitled/">Create new pattern</a>
		    <a href="/newsfeed/">Browse Projects</a>
		    <a href="/inbox/">Inbox ({{request.session.inbox_unread}})</a>

	{% endif %}

	<h1> {{pattern.name}} by {{pattern.user.username}} </h1>
	<!-- must be viewing someone else's and logged in to have option to save -->
	{% if pattern.user != request.user and user.is_authenticated %}
		<!-- pattern has been saved by user and option is to remove -->
		{% if pattern in request.user.saved_patterns.all%}
			<button type="button" class="remove" username="{{pattern.user.username}}" patternname="{{pattern.name}}" saved="True">
				Remove 
			</button>
		<!-- pattern has not been saved by user and option is to save -->
		{% else %}
			<button type="button" class="save" username="{{pattern.user.username}}" patternname="{{pattern.name}}" saved="False"> 
				Save 
			</button>
		{% endif %}
	{% endif %}

	<div class="patternbox">
			<div class="patternimage" instructions="{{pattern.instructions}}" style="height:400px; width:400px; background-color:#FFB968;">
			</div>
			<div class="patterninfo">
				<div class="patternname">
					<a href="/{{pattern.user.username}}/{{pattern.id}}/">{{pattern.name}}</a> by 
					<a href="/{{pattern.user.username}}/">{{pattern.user.username}}</a>
				</div>
				<div class="patterncreated">{{pattern.date_published|date}}</div>
				<div class="patternlikes" likes="{{pattern.likes}}">{{pattern.likes}} saver{{pattern.likes|pluralize}}</div>
				<div class="patterntagset">
					{% for tag in pattern.tag_set.all %}
					<span class="patterntag">{{tag.content}}</span>
					{% endfor %}
				</div>
			</div>
	</div>

	{% if pattern.user != request.user and user.is_authenticated %}
		<button> Export </button>
	{% endif %}

	{% if pattern.user == request.user %}
		<h1> My stitches </h1>
		<ul>
		{% for stitch in pattern.user.stitch_set.all %}
			<li> {{stitch.name_short}} </li>
		{% endfor %}
		</ul>

		{% if pattern.date_published == None %}
			<button class="publishbutton" patternid="{{pattern.id}}"> Publish </button>
		{% else %}
			<button class="publishbutton" disabled> Already published </button>
		{% endif %}
	{% endif %}
</body>
</html>