<html>
<head>
	<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base.css">-->
</head>

<body>
{% if request.user.is_authenticated %}
	<form action="/accounts/logout/" method="get">
            <input type="submit" value="Logout"\>
     </form>
{% endif %}

	<h1>Newsfeed</h1>

	<form action="/newsfeed/" method="get">
		{% if request.user.is_authenticated %}
		<input type="radio" name="filter_people" value="following" {{following}}>People I'm Following<br/>
		<input type="radio" name="filter_people" value="all" {{allpeople}}>Everybody<br/><br/>
		{% endif %}
		<input type="radio" name="filter_interval" value="hour" {{hours}}>In the last hour<br/>
		<input type="radio" name="filter_interval" value="day" {{days}}>In the last day<br/>
		<input type="radio" name="filter_interval" value="all" {{alltime}}>All time<br/><br/>
		<input type="radio" name="sort" value="likes" {{likes}}>Order by likes<br/>
		<input type="radio" name="sort" value="published" {{datepub}}>Order by date published<br/>
		<input type="search" name="search" value="{{words}}">
		<input type="submit" value="Go">

	</form>

	{% if patternset %}
		{% for pattern in patternset%}
		<div class="patternbox">
			<div class="patternimage" style="height:200px; width:200px; background-color:#FFB968;">
			</div>
			<div class="patterninfo">
				<div class="patternname">
					<a href="/{{pattern.user.username}}/{{pattern.name}}/">{{pattern.name}}</a> by 
					<a href="/{{pattern.user.username}}/">{{pattern.user.username}}</a>
				</div>
				<div class="patterncreated">{{pattern.date_published|date}}</div>
				<div class="patterntagset">
					{% for tag in pattern.tag_set.all %}
					<span class="patterntag">{{tag.content}}</span>
					{% endfor %}
				</div>
				<!--<div class="patternlikes">{{pattern.likes}} likes</div>-->
			</div>
		</div>
		{% endfor %}
	{% endif %}

</body>
</html>