<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
	<!--<script src="http://s3.amazonaws.com/nehastephcrochet/ui.js"></script>
  	<script src="http://s3.amazonaws.com/nehastephcrochet/patternInput.js"></script> -->
  	<script src="{{STATIC_URL}}ui.js"></script>
  	<script src="{{STATIC_URL}}patternInput.js"></script>
	<!--<script src="ui.js"></script>-->
	<!--<script src="patternInput.js"></script>-->
	<!--<link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nehastephcrochet/patternInput.css">-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}patternInput.css">
</head>

<body>
	<table id="patternTable">
		<tr>
			<td>Foundation:</td>
			<td><div contenteditable="true" class="edit" id="r0" style="width:500px; border:1px solid black;"></div></td>
			<td><button type="button" id="addRowButton">Add Row</button></td>
			<td id="feedback"></td>
		</tr>
	</table>
	<canvas id="interface">
	</canvas>

{% block user_content %}
<div>other stuff</div>
{% endblock %}

</body>
</hml>