<!--html>
<head>
  <script type="" src="http://s3.amazonaws.com/nehastephcrochet/"></script>
  <script src="http://s3.amazonaws.com/nehastephcrochet/ui.js"></script>
  <script src="http://s3.amazonaws.com/nehastephcrochet/patternInput.js"></script>
  <link rel="stylesheet" type="http://s3.amazonaws.com/nehastephcrochet/text/css" href="patternInput.css">
  </head>
<body-->
{% extends "patternInput.html" %}

{% block user_content %}

{% if user.is_authenticated %}

{% if user.username == account.username %}

      <h1>Welcome, {{ account.username }}!</h1>
      <form action="/accounts/logout/" method="get">
            <input type="submit" value="Logout"\>
      </form>

      {% if messages %}
      	<ul>
      	{% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      	</ul>
      {% endif %}

{% else %}
      <h1>This is {{ account.username }}'s profile</h1>
      <a href="/account/{{ user.username }}">My profile.</a>

{% endif %}


{% if request.session.viewpatterns %}
  <h3>Saved Patterns</h3>
  <ul>
  {% for pattern in request.session.viewpatterns %}
  <li class='pattern' pattern="{{ pattern.pattern }}">{{ pattern.name }} : {{ pattern.pattern }}</li>
  {% endfor %}
  </ul>
{% else %}
  <h3>No saved patterns.</h3>
{% endif %}

{% if user.username == account.username %}
  <h3>Create a new pattern</h3>
  <form action="/savepattern/" method="post">{% csrf_token %}
    <p>Name your pattern</p>
    <input type="text" name="name">
    <input type="submit" value="Create">
    <p>Design your pattern</p>
    Submit button here
  </form>

  <h3>Change password</h3>
  <form action="/changepw/" method="post"> {% csrf_token %}
   	<p>Type current password</p>
	<input type="text" name="current">
	<p>Type in new password</p>
	<input type="text" name="new1">
	<p>Re-type new password</p>
	<input type="text" name="new2">
	<input type="submit" value="Change Password">
   </form>
{% endif %}

{% if request.session.users %}
   <h3>See other users</h3>
   <ul>
   {% for user in request.session.users %}
   <li > <a href="/account/{{user.username}}">{{user.username}} </a></li>
   {% endfor %}
   </ul>
{% endif %}

{% else %}
  <h1>The password you entered was incorrect or you do not have an account yet</h1>
  <form action="/" method="get">
      <input type="submit" value="Go Back"\>
   </form>
{% endif %}

{% endblock %}
<!--/body>

 </html-->