#interface {
    position:absolute;
    width:960px;
    height:600px;
    border-radius:5px;
    border:solid 1px;
    margin:auto;
}

.stitch {
    width:10px;
    height:10px;
    border:solid 1px;
}