body
{
	font-family: "Verdana", sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #CFCFE4;
	text-align: right;
}
h1
{
	text-align: left;
	padding: 20px;
	background-color: black;
	color: #CFCFE4;
	margin-top: 0px;
	
}
form
{
	border-radius: 4px;
	padding: 50px;
	display: inline-block;
	
}
#right, #left
{
	float: left;
}
input[type="text"], input[type="password"]
{
	width: 250;
	height: 30px;
	padding: 5px;
	margin-bottom: 5px;
	display: block;
}
input[type="submit"]
{
	background-color: black;
	color: #CFCFE4;
	margin-left: 15px;
	height: 50px;
	width: 100px;
	border-radius: 15px;
}
h4
{
	margin: 0px;
	padding: 5px;
}
#create
{
	padding-right: 225px;
}